.containerSky {
	align-items: center;

	width: 100%;

	display: flex;
	justify-content: space-between;
	gap: 2em;

	padding: 2rem 0;
}

.leftSection {
	align-items: center;

	display: flex;
	flex-direction: column;

	width: 50%;
}

.cloudImage {
	max-width: 100%;
	width: 600px;
	height: auto;
}

.rightSection {
	align-items: center;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50%;
	height: 100%;
}

.sunImage {
	max-width: 100%;
	width: 600px;
	height: auto;
}

.skyText {
	color: var(--text-black);
	text-align: center;
}

@media (max-width: 768px) {
	.containerSky {
		flex-direction: column-reverse;

		gap: 0;
	}

	.leftSection,
	.rightSection {
		width: 70%;
	}
}
