.headerContainer {
	background-color: var(--mid-blue);

	width: 90%;
	padding: 10px 2rem;

	border-radius: var(--mid-radius);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.authorSection {
	display: flex;
	align-items: center;
}

.logoImage {
	border-radius: var(--rounded);

	margin-right: 14px;

	width: 60px;
	height: 60px;
}

.socialMediaIcon {
	width: 45px;
	height: 45px;
}

.socialMediaIcon:hover {
	transform: scale(1.15);
	transition: 0.1s ease;
}

.socialMediaLink:not(:last-child) {
	margin-right: 40px;
}

.buttonModal {
	background: none;
	color: var(--text-white);

	display: none !important;

	border: none;
	font-size: 2.4em;
}

.conainerModal {
	background-color: rgba(0, 0, 0, 0.5);

	display: none !important;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	z-index: 1000;
}

.contentModal {
	background: var(--mid-blue);
	padding: 20px;
	border-radius: var(--border-radius);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	left: 50%;
	transform: translateX(-50%) translateY(50%);

	width: 70%;
	min-height: 50vh;
}

@media (max-width: 768px) {
	.conainerModal,
	.buttonModal {
		display: block !important;
	}

	.navSocialMedia {
		display: none !important;
	}

	.socialMediaLink {
		color: var(--text-white);
		margin: 0 !important;
		gap: 2rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.socialMediaIcon {
		width: 2rem;
	}
}

.navTextModal {
	color: var(--text-white);
}

.navSocialMediaModal {
	display: flex;
	flex-direction: column;

	margin: auto 0;
}
